h1{
    color: red;
    text-align: center;
}

#mainContent{
    display: flex;
}

#mainContent > div{
    height: 50vh;
    overflow-y: scroll;
}

#mainContent > div::-webkit-scrollbar { 
    display: none; 
}

#todoDisplay{
    flex : 50%;
}

#todoDisplayDone{
    flex : 50%;
}

