/* *{ border : 1px solid black;} */

*{
    box-sizing: border-box;
}

h1{
    color: red;
    text-align: center;
    margin: 5vh;
}

#mainContent{
    flex: 60%;
    display: flex;
}

#mainContent  ul{
    height: 50vh;
    overflow-y: scroll;
    padding: 0;
}

#mainContent ul li {
    padding: 5%;
    
    margin-bottom: 3%;
    margin-top: 3%;

    border-radius: 2vh ;

    text-transform: uppercase;
    color: white;
}

#mainContent ul li:hover{
    box-shadow: inset -2px -2px 6px black;
}

.priority0{
    background-color: rgba(180,180,180,1);
    opacity: 0.8;
}
.priority1{
    background-color: rgba(120,120,120,1);
    opacity: 0.8;
}
.priority2{
    background-color: rgba(70,70,70,1);
    opacity: 0.8;
}

#mainContent ul li button {
    text-align: left;
    float: right;
}

#mainContent  ul::-webkit-scrollbar { 
    display: none; 
}

#todoDisplay{
    flex : 50%;
    padding: 1rem;
}

#todoDisplayDone{
    flex : 50%;
    padding: 1rem;
}

#allContent{
    display: flex;
    margin-top: 10vh;
}

#formAdd{
    flex : 10%;
    padding: 1rem;
}

#infosMain{
    flex : 10%;
    padding-top: 1rem;
}

#todoDisplayDonelist > li > .doneButton{
    display: none;
    border: 10px solid black;
}

/* #formAdd, #todoDisplay, #todoDisplayDone{
    border: 1px solid grey;
} */

#fields{
    display: flex;
    justify-content: space-around;
}

